@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sans, sans-serif;
    font-weight: 300;
    color: #2F3E46;
    background-color: #FFD166;
}

h1, h2 {
    font-family: bubblegum-sans, sans-serif;
    text-transform: uppercase; 
    color: #073B4C;
}
