@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: bubblegum sans, sans-serif;
    font-weight: 300;
    color: #2F3E46;
    background-color: #e9ce8f;
}

h1 {
    font-family: bubblegum sans, sans-serif;
    text-transform: uppercase; 
    color: #073B4C;
}

#main-image-outer {
    height: 600px;
    width: 33%;
    overflow: hidden;
    position: relative;
    /*background-color:#EF476F ;*/
}
#main-image {
    height: 298px;
    width: 100%;
    padding: 150px 20px;
    position: relative;
    background: url(../images/TornScriptPage.jpg) no-repeat left center;
}

#cover-text, #cover-text h2 {
    color: #17566b;
}

#cover-text {
    font-size: 150%;
    font-family: bubblegum sans, sans-serif;
    text-transform: uppercase;
    text-align: left;
    width: 400px;
    height: 120px;
    padding: 150px 50px;
    /*background-color: #118AB2;*/
    top: 30px;
    /*right: 30px;*/
    position: absolute;
}

#cover-quote {
    font-size: 130%;
    font-family: bubblegum sans, sans-serif;
    color: #17566b;
    /*text-transform: uppercase;*/
    text-align: center;
    width: 500px;
    height: 120px;
    padding: 10px 1px;
    /*background-color: #118AB2;*/
    bottom: 80px;
    /*left: 30px;*/
    position: absolute;
}
